#calendar {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 600px;

  > * {
    padding: $padding;
  }

  .background {
    opacity: 0.5;
    position: absolute;
    right: 50%;
    translate: 50% -20%;
    width: 130%;
    z-index: -20;
  }

  .days {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    text-align: center;

    li {
      align-items: center;
      aspect-ratio: 1/1;
      display: flex;
      font-size: 20px;
      font-weight: 500;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      width: 80%;
    }

    .event {
      color: white;
      cursor: pointer;
      text-shadow: 0 0 5px rgba(0, 0,0, 0.5);

      &.event-0::before {
        background-color: #dcd0b3bd;
      }

      &.event-1::before {
        background-color: rgba(104, 148, 137, 0.4);
      }

      &::before {
        aspect-ratio: 1/1;
        background-color: rgba(127, 142, 168, 0.7);
        border-radius: 50%;
        content: "";
        position: absolute;
        right: 3px;
        top: -3px;
        width: 100%;
        z-index: -10;
      }
    }

    .current {
      color: $green;
    }
  }

  .month {
    align-items: center;
    background-color: $green;
    border-radius: 10px;
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: space-between;

    button {
      background-color: transparent;

      &:disabled i {
        color: #e3e3e380;
      }
    }

    span {
      text-align: center;
      width: 200px;
    }
  }

  .week {
    color: $green;
    display: grid;
    font-size: 25px;
    font-weight: 500;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 560px) {
  #calendar {
    width: 450px;
  }
}
