#membership {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;

  h2 {
    font-size: 70px;
    font-weight: 600;
  }

  .behind {
    position: absolute;
    opacity: 0.5;
    z-index: -10;

    &#dropin-stain {
      right: 20px;
      bottom: 50px;
      width: 450px;
    }

    &#multi-stain {
      bottom: 50%;
      right: 50%;
      translate: 50% 45%;
      height: 650px;
      width: 800px;
    }
  }

  .membership-card {
    background-color: #f0eedb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    padding: 30px;
    position: relative;

    button {
      font-size: 20px;
    }

    p {
      font-size: 0.8rem;
      margin: 10px 0;

      i {
        color: $green;
        font-size: 1.2rem;
        margin-right: 10px;
      }
    }

    .title {
      align-self: center;
      display: flex;
      flex-direction: column;
      font-size: 30px;
      width: max-content;

      h4 {
        align-self: flex-end;
      }
    }
  }

  .membership-cards {
    display: grid;
    gap: 200px;
    grid-template-columns: 300px 300px;
  }
}
