#home {
  h2 {
    font-size: 50px;
    font-weight: 600;
  }

  #planning {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }

  .cal-event-cards {
    display: flex;
    gap: 50px;
    margin: 50px 0;
  }

}
