<div class="banner"">
    <nav>
        <div class="logo">

          <%= image_tag "logo_text_white.svg", width: "180px"%>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Sessions</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </div>
    </nav>

    <div class="text">
        <h1>Your Body, Your Practice</h1>
        <p>DISCOVER YOURSELF, DISCOVER YOGA</p>
        <button class="btn btn-gradient">Start now</button>
    </div>

</div>
