<div class="booking">
  <div>
    <div class="price">
      <h3>Vinyasa Flow</h3>
      <h2>12€</h2>
    </div>

    <span><span>10€</span> with memberhsip</span>
  </div>

  <div class="date">
    <p>monday may 29th</p>
    <p>18h - 18h30</p>
  </div>

  <p>5 sits left</p>

  <div class="buttons">
    <button class="btn-blue">Book now</button>
    <button class="btn-green">Become a member</button>
  </div>
</div>
