<div class="navbar">
  <div class="logo">
    <%= vite_image_tag "images/logos/logo_text_white.png" %>
  </div>

  <div class="links">
    <nav>
      <a href="#">About</a>
      <span>✾</span>
      <a href="#">Sessions</a>
      <span>✾</span>
      <a href="#">Contact</a>
      <span>✾</span>
      <%= link_to "Account", dashboard_path %>
    </nav>
  </div>
</div>
