<div class="navbar">
  <div class="logo">
    <%= vite_image_tag "images/logos/logo_text_white.png", width: "180px" %>
  </div>

  <div class="links">
    <nav>
      <li><a href="#">About</a></li> <span>*</span>
      <li><a href="#">Sessions</a></li> <span>*</span>
      <li><a href="#">Contact</a></li> <span>*</span>
      <li><a href="#">Videos</a></li>
    </nav>
  </div>
</div>
