
<%= render "shared/banner"%>

<h1 data-controller="hello">Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render "pages/partials/membership" %>

<div id="home">
  <div class="container">
    <%= render "pages/partials/membership" %>

    <section id="planning">
      <h2>Planning</h2>
      <%= render "pages/partials/calendar" %>
    </section>
  </div>
</div>
