<div id="home">
  <div class="container">
    <%= render "pages/partials/membership" %>

    <section id="planning">
      <h2>Planning</h2>
      <%= render "pages/partials/calendar" %>
    </section>
  </div>
</div>

    <%= render "pages/partials/footer" %>
