<div id="home">
  <div class="container">

    <%= render "pages/partials/membership" %>

    <section id="planning">
      <h2>Planning</h2>
      <div class="cal-event-cards">
        <%= render "pages/partials/calendar" %>
        <%= render "pages/partials/event-card" %>
      </div>
    </section>
  </div>
</div>
