<div id="home">
  <%= render "pages/partials/banner"%>

  <div class="container">
    <%= render "pages/partials/about" %>

    <%# render "pages/partials/membership" %>

    <%= render "pages/partials/planning" %>
  </div>
</div>

<%= render "pages/partials/footer" %>
