<section id="about">
  <div class="about">
    <%= vite_image_tag "images/photos/chloe-1.jpg", class: "brighter" %>

    <div class="content">
      <%# vite_image_tag "images/illustrations/810.png", class: "background" %>

      <%= vite_image_tag "images/illustrations/about_fern.png", class: "fern" %>
      <h2>About me</h2>

      <p>Hi, I am Chloé, welcome on my little digital footprint.<br>
      I first started Yoga at the age of 20. It started as an on and off activity for me but I eventually started to include its practice in my daily life, as a ritual to recenter and reconnect.</p>
      <p>One day, I took a flight and landed in Madeira, Portugal and this is when my life changed.There I graduated as a 200h Integral Yoga teacher but I wanted to learn more and, 2 years later, I flew to Rishikesh, the Yoga capital of the world in India, and finally got my 500 hours YTT in Vinyasa and Ashtanga Yoga.</p>
      <p>Now, I am delighted for the opportunity to share my practice with you. Together may we amplify the understandings and promises of yoga: intention, devotion, adaptability, gratitude and listening.</p>
      <p>Aum Shanti<br>May you find peace within you.</p>
    </div>
  </div>

  <div class="about">
    <div class="content">
      <%= vite_image_tag "images/illustrations/about_fern.png", class: "fern" %>
      <h2>About Vinyasa</h2>

      <div>
        <p>Vinyasa Yoga is a fluid practice that enhance our creativity. We move from one pose to the next in coordination with our breath, this flow is like a dance between your body and the air itself.</p>
        <p>Flowing through movements means that we are cultivating mindfulness between one moment and the next.Vinyasa shows us that all forms are temporary and that all movements have a beginning, a middle and an end.</p>
      </div>

      <div>
        <h3>Why practice yoga ?</h3>
        <p>Yoga is more than a just a physical practice. Of course you'll improve your muscular capacity and flexibility, but beyond that it calms the nervous system, it improves our respiration, it protects ourselves from injuries and it helps us let go of old energies that are stuck inside you.</p>
        <p>Yoga is also a way for us to find comfort in discomfort and to learn how to let go of what does not belong in oneself anymore but to focus on what is trully necessary. You'll likely rediscover your own body and more.</p>
      </div>
    </div>

    <%= vite_image_tag "images/photos/chloe-3.jpg" %>
  </div>
</section>
