<div class="banner"">
  <div class="container">
    <%= render "shared/navbar" %>

    <div class="text">
      <h1><%= t("pages.home.banner.your_body") %></h1>
      <p><%= t("pages.home.banner.discover") %></p>
      <button class="btn-green"><%= t("pages.home.banner.start_now") %></button>
    </div>

    <div class="empty"></div>
  </div>
</div>
