<div class="banner"">
  <div class="container">
    <%= render "shared/navbar" %>

    <div class="text">
      <h1>Your Body, Your Practice</h1>
      <p>DISCOVER YOURSELF, DISCOVER YOGA</p>
      <button class="btn-green">Start now</button>
    </div>

    <div class="empty"></div>
  </div>
</div>
