<section id="event-card-container">
  <div class="event-cards">
    <ul>
      <li>
        <div class="event-cards-content">
          <% @events.each do |event| %>
            <h3><%= event.day.day %></h3>
            <div class="yoga-type">
              <h3>Soft Vinyasa</h3>
              <p><%= "#{event.day.strftime("%a")} " "#{event.start_time.strftime("%I:%M")} - #{event.end_time.strftime("%I:%M")}" %></p>
            </div>
            <i class="fa-solid fa-circle-arrow-right"></i>
          <% end %>
        </div>
      </li>
      <li>
        <div class="event-cards-content">
          <h3>9</h3>
          <div class="yoga-type">
            <h3>Vinyasa Flow</h3>
            <p>Blocry 17:00 - 18:30</p>
          </div>
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      </li>
      <li>
        <div class="event-cards-content">
          <h3>10</h3>
          <div class="yoga-type">
            <h3>Vinyasa Flow</h3>
            <p>Buyeres 18:00 - 19:30</p>
          </div>
          <i class="fa-solid fa-circle-arrow-right sun"></i>
        </div>
      </li>
      <li>
        <div class="event-cards-content">
          <h3>15</h3>
          <div class="yoga-type">
            <h3>Soft Vinyasa</h3>
            <p>Buyeres 10:00</p>
          </div>
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      </li>
      <li>
        <div class="event-cards-content">
          <h3>16</h3>
          <div class="yoga-type">
            <h3>Vinyasa Flow</h3>
            <p>Buyeres 18:00 - 19:30</p>
          </div>
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      </li>
      <li>
        <div class="event-cards-content">
          <h3>17</h3>
          <div class="yoga-type">
            <h3>Vinyasa Flow</h3>
            <p>Buyeres 18:00 - 19:30</p>
          </div>
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      </li>
    </ul>
  <div>

<section>
