<div class="top-wave"></div>

<footer>
  <div class="content">
    <div class="content-logo">
      <%= vite_image_tag "images/logos/logo_text_black_clipped.png", class: "black-logo" %>
    </div>
    <div class="social-icons">
      <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
    </div>
    <div class="content-links">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Sessions</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="content-copyright">
    <h4>Copyright © YogaUnalome 2023. All rights reserved.</h4>
  </div>
</footer>
