<footer>
  <div class="top-wave"></div>
  <div class="footer-container">
    <%= vite_image_tag "images/illustrations/1010.png", class: "plant-bottom" %>
    <div class="content-logo">
      <%= vite_image_tag "images/logos/logo_text_black_clipped.png", class: "black-logo" %>
    </div>

    <nav class="content-links">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Sessions</a></li>
        <li><a href="#">Videos</a></li>
        <li><a class="btn-contact" href="#">Contact me</a></li>
      </ul>
    </nav>

    <div class="content-socials">
      <div>
        <h4>Follow me:</h4>
      </div>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="content-copyright">
      <h4>Copyright © YogaUnalome 2023. All rights reserved.</h4>
    </div>
  </div>
</footer>
