<section id="membership">
  <h2>Membership</h2>

  <div class="membership-cards">
    <div class="membership-card">
      <%= vite_image_tag "images/illustrations/310.png", id: "dropin-stain", class: "behind" %>

      <div class="title">
        <h3>Drop in</h3>
        <h4>€ 12</h4>
      </div>

      <div class="details">
        <p><i class="fa-solid fa-check"></i>Get access to a single session</p>
        <p><i class="fa-solid fa-check"></i>No expiration date</p>
        <p><i class="fa-solid fa-check"></i>Give it a try</p>
      </div>

      <button class="btn-green">Book now</button>
    </div>
    <div class="membership-card">
      <%= vite_image_tag "images/illustrations/410.png", id: "multi-stain", class: "behind" %>

      <div class="title">
        <h3>Multi</h3>
        <h4>€ 40</h4>
      </div>

      <div class="details">
        <p><i class="fa-solid fa-check"></i>Get access to 4 sessions</p>
        <p><i class="fa-solid fa-check"></i>Available for 30 days</p>
        <p><i class="fa-solid fa-check"></i>Bring a friend once for free</p>
      </div>

      <button class="btn-green">Join us</button>
    </div>
  </div>
</section>
