<section id="membership">
  <h2>Membership</h2>

  <div class="membership-cards">
    <%= vite_image_tag "images/illustrations/33.png", id: "left", class: "decoration" %>
    <%= vite_image_tag "images/illustrations/101.png", id: "middle", class: "decoration" %>
    <%= vite_image_tag "images/illustrations/37.png", id: "right", class: "decoration" %>

    <div class="membership-card">
      <div class="title">
        <h3>Drop in</h3>
        <h4>€ 12</h4>
      </div>

      <div class="details">
        <p><i class="fa-solid fa-1"></i>Get access to a single session</p>
        <p><i class="fa-solid fa-calendar-day"></i>No expiration date</p>
        <p><i class="fa-solid fa-check"></i>Give it a try</p>
      </div>

      <button class="btn-green1">Book now</button>
    </div>
    <div class="membership-card">
      <div class="title">
        <h3>Multi</h3>
        <h4>€ 40</h4>
      </div>

      <div class="details">
        <p><i class="fa-solid fa-4"></i>Get access to 4 sessions</p>
        <p><i class="fa-solid fa-calendar-days"></i>Available for 30 days</p>
        <p><i class="fa-solid fa-hand-holding-heart"></i>Bring a friend once for free</p>
      </div>

      <button class="btn-green2">Join us</button>
    </div>
  </div>
</section>
