.banner {
  height: 100vh;
  background-image: url("../../images/photos/banner.jpg");
  background-size: cover;
  display: flex;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    color: #fff;

    h1 {
      max-width: 280px;
      font-size: 40px;
      padding: 5px;
    }

    p{
      font-size: 15px;
      font-weight: bold;
    }

    button {
      width: max-content;
      background-color: $green;
    }
  }
}
