.banner {
  background-image: url("/images/photos/banner.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  height: 100svh;
  width: 100vw;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .empty {
      height: 180px;
    }

    .text {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      gap: 30px;

      button {
        width: max-content;
      }

      h1 {
        max-width: 400px;
      }

      p {
        font-weight: bold;
      }
    }
  }
}
