.banner {
  height: 90vh;
  background-image: url("../../images/banner.jpg");
  background-size: cover;
  background-position: center -260px;
}




//----------------------nav-----------------------//





//---------------------------------text-----------------------------//



.text {
  margin: 80px 0px 0px 170px;
  h1 {
    max-width: 280px;
    font-size: 40px;
    font-family: $headers-font;
    margin-bottom: 30px;
    color: #fff;
  }

  p{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
  }
}
