button, .btn {
  background-color: #222222;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: $padding;
}

.btn-green1 {
  background-color: $blue;
}

.btn-green2 {
  background-color: $green;
}
