button, .btn {
  background-color: #222222;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  padding: $padding;
  text-align: center;

  &:hover {
    color: white;
  }
}

.btn-auth {
  background-color: white;
  border: 1px solid black;
  color: black;

  i {
    color: #0071bb;
  }
}

.btn-blue {
  background-color: $blue;
}

.btn-green {
  background-color: $green;
}
