form {
  display: flex;
  flex-direction: column;
}

form label,
form input,
form textarea,
form button {
  width: 100%;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

#contact-popup {
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 80px;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

#contact-popup .content {
  background-color: #fefefe;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #888;
  max-width: 90%;
}

.field {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
  width: 100%;

  &:has(input:focus) {
    box-shadow: 0 0 10px #d3d3d3;
  }

  input {
    border: none;
    border-bottom: 2px solid $green;
    padding-bottom: 2px;
    transition: border-bottom 0.3s ease;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
