.flash {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 20px;
  height: max-content;
  left: 20px;
  max-height: 100px;
  overflow: hidden;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 20px;
  transition: all 0.3s ease;
  width: Min(500px, 90%);
  z-index: 50;

  &.alert {
    background-color: $red;
  }

  &.invisible {
    max-height: 0;
    opacity: 0;
    padding: 0 2rem;
  }

  &.notice {
    background-color: $green;
  }

  i {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
