form {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  width: 400px;

  h2 {
    border-bottom: 1px solid #e3e3e3;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  label {
    font-size: 0.8rem;
  }

  .check {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: $padding;
  }

  .close {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .error {
    color: $red;
    font-size: 0.8rem;
  }

  .field {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: $padding;
    transition: box-shadow 0.3s ease;
    width: 100%;

    &:has(input:focus) {
      box-shadow: 0 0 10px #d3d3d3;
    }

    input {
      border: none;
      border-bottom: 2px solid $green;
      padding-bottom: 2px;
      transition: border-bottom 0.3s ease;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .form-alert {
    border: 1px solid $red;
    border-radius: 10px;
    color: $red;
    display: flex;
    gap: 10px;
    padding: 1.5rem 2rem;

    i {
      transform: scale(1.3);
    }
  }

  .password {
    align-items: center;
    display: flex;
    gap: 10px;

    div, p {
      flex-grow: 1;
    }

    i {
      cursor: pointer;
      font-size: 1rem;
    }
  }

  .redirect {
    display: flex;
    font-size: 16px;
    gap: 10px;
    justify-content: center;

    a {
      color: $green;
      font-weight: 600;

      &:hover {
        color: $green;
      }
    }
  }
}
