.navbar {
  justify-content: center;
  display: flex;
  align-items: center;

  .logo {
    margin-right: 120px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px ;
    gap: 30px;
  }


  nav li a {
    margin-left: 20px;
    color: #fff;
    position: relative;
    font-size: 20px;
    display: flex;
    align-items: center;
    }

  span {
    margin-top: 12px;
    color: #fff;
    font-size: 20px;
  }
}
