#user-dashboard {
  height: 100vh;
  margin: 0;

  .logo {
    padding-top: 15px;
    filter: invert(100%);
  }

  .background {
    opacity: 0.9;
    position: absolute;
    right: 50%;
    top:37%;
    translate: 50% -25%;
    width: 100%;
    height: 100%;
    z-index: -20;
  }

  .user-dashboard-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: cover;
    margin-top: 70px;

    .user-profile-container {
      background-color: #C6D5CF ;
      height: 500px;
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      border-radius: 35px;
      box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
      position: relative;

      .leaf {
        position: absolute;
        z-index: 10;

        &#top {
          height: 400px;
          left: -40px;
          top: -90px;
          transform: rotateY(180deg) rotate(-15deg);
          width: 250px;
        }

        &#bottom {
          height: 350px;
          left: 260px;
          bottom: -60px;
          width: 130px;
        }
      }


      img {
        width: 110px;
        padding: 35px 0 35px 0;
      }

      .user-profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 90px;


        h2 {
          font-size: 28px;
          width: 50%;
          text-align: center;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  .user-options-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
  }

  .user-options-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #99ABB8;
    font-size: 20px;
    border-radius: 40px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: 0 auto;
    margin-bottom: 48px;
    height: 210px;

    img {
      margin-bottom: 20px;
      width: 90px;
    }
  }
}
