#user-dashboard {
  height: 100vh;
  margin: 0;

  .log-out {
    margin-left: 20px;
    text-align: right;
  }

  .navbar {
    margin-top: 25px;
    height: 100px;
  }

  .logo {
    padding-top: 15px;
    filter: invert(100%);
  }

  .background {
    opacity: 0.7;
    position: absolute;
    right: 50%;
    top: 30%;
    translate: 50% -25%;
    width: 170%;
    height: 110%;
    z-index: -20;
  }

  .user-dashboard-container {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin: auto;
    width: 1300px;

  }

  .user-profile-container {
    background-color: #C6D5CF ;
    height: 66vh;
    width: 350px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
  }

  .leaf {
    position: absolute;
    z-index: 10;

    &#top {
      height: 350px;
      left: -50px;
      top: -90px;
      transform: rotate(18deg);
      width: 200px;
    }

    &#bottom {
      height: 350px;
      left: 180px;
      bottom: -90px;
      transform: rotate(60deg);
      width: 200px;
    }
  }


  .profile-icon {
    width: 120px;
    padding: 40px 0 50px 0;
  }

  .user-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
  }

  .user-profile-info h2 {
    font-size: 30px;
    width: 50%;
    text-align: center;
  }

  .user-options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .user-options-boxes {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-flow: row wrap;
    margin: 5px;
    width: 900px;
  }

  .user-options-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 370px;
    margin: 50px 20px 19px 20px;
    height: 29vh;
  }

  .user-options-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .fa-solid {
    font-size: 50px;
    padding-bottom: 20px;
  }


}
