@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Comfortaa:wght@300&family=Poppins:wght@100;400;500&display=swap');

// Borders & Box Shadows

// Colours
$beige: #dcd0b3;
$blue: #7f8ea8;
// $green: #85b6aa;
$green: #87B7AB;
$red: #be3e3e;

// Spacing
$padding: 0.75rem 1rem;

// Fonts'Comfortaa', cursive;
$body-font: 'Comfortaa', cursive;
$headers-font: 'Poppins', sans-serif;
// Font-awesome
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
