<main>
  <p><%= "#{t("devise.mailer.confirmation.welcome")} #{@resource.first_name} !" %></p>

  <p><%= t("devise.mailer.confirmation.instructions") %><br>

  <p><%= t("devise.mailer.confirmation.see_you_soon") %><br>Chloé</p>

  <%= link_to t("devise.mailer.confirmation.confirm_account"), confirmation_url(@resource, confirmation_token: @token), class: "btn-green" %>
</main>
