<p>Hello <%= @resource.first_name %> !</p>

<p>A request to reset your password has been received.</p>

<p>If you didn't request this, please ignore this email.<br>
Your password won't change until you access the link below.</p>

<p>If you didn't request a new password, please let me know by replying to this email.</p>

<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn-green" %>
